body {
    background-image: url("images/hyper-coffee.jpg");
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}

.navbar {
    font-family: 'Courier New';
    /* font-weight: bold; */
    background: rgba(125, 125, 125, 0.65);
    height: 120px;
}

.logo {
    width: 110px;
    height: auto;
}

#override1, #override2, #override3, #override4 {
    font-size: 32px;
    color: white;
    bottom: 0
}

header {
    font-size: 48px;
    color: brown;
}

main {
    margin-left: 15rem;
    margin-right: 30px;
    font-family: courier;
    /* font-weight: bold; */
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.empty-div {
    height: 20rem;
}

.main-img {
    height: 100%;
    width: 100%;
}

.contact {
    font-weight: bold
}

#address {
    float: right;
}

